{% extends "adminPanel/admin_base.html" %}
{% load static %}
{% block content %}
<div class="container"></div>
<div class="row column_title">
  <div class="col-md-12">
     <div class="page_title">
        <h2>Home Page</h2>
     </div>
  </div>
</div>
<div class="insert_form" style="border: 1px solid black; padding: 30px; margin-top: 30px; border-radius: 5px;">
    <form action="{% url 'home' %}" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
        <div class="mb-3">
          <label for="exampleInputNAME" class="form-label">Title</label>
          <input type="text" class="form-control" name="home_title" id="exampleInputNAME" aria-describedby="nameHelp">
        </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Slogan</label>
          <input type="text" class="form-control" name="home_slogan" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label for="exampleInputPIC" class="form-label">Home Picture</label>
          <input type="file" class="form-control" name="home_pic" id="exampleInputPIC" aria-describedby="picHelp">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
      <table class="table table-dark table-striped">
        <thead>
          <tr>
            <th scope="col">Slide Title</th>
            <th scope="col">Description</th>
            <th scope="col">Images</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          {% for i in show_home %}
          <tr>
            <td>{{ i.home_title }}</td>
            <td>{{ i.home_slogan }}</td>
            <td>
              <img src="/media/{{ i.home_pic }}" alt="" style="width: 100px; height: 100px;">
            </td>
            <td>
            <a href="#" class="btn btn-success"><i class="fa-solid fa-pen-to-square"></i></a> ||
            <a href="#" class="btn btn-danger"> <i class="fa-solid fa-trash-can"> </i></a>
          </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    
</div>
{% endblock %}