{% extends "adminPanel/admin_base.html" %}
{% load static %}
{% block content %}
<h1>This is home page</h1>
<div class="insert_form" style="border: 1px solid black; padding: 30px; margin-top: 30px; border-radius: 5px;">
    <form action="{% url 'home' %}" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
        <div class="mb-3">
          <label for="exampleInputNAME" class="form-label">Title</label>
          <input type="text" class="form-control" name="home_title" id="exampleInputNAME" aria-describedby="nameHelp">
        </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Slogan</label>
          <input type="text" class="form-control" name="home_slogan" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label for="exampleInputPIC" class="form-label">Home Picture</label>
          <input type="file" class="form-control" name="home_pic" id="exampleInputPIC" aria-describedby="picHelp">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
{% endblock %}